In [26]:
import requests
import defs
import pandas as pd

In [27]:
# Request has a session object, help maintain persisteng connection
session = requests.Session()

In [28]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [29]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-002-27231304-001/instruments'

In [30]:
# To make our request to Onanda Api using get
response = session.get(url, params=None, headers= defs.SECURE_HEADER)

In [31]:
response.status_code

200

In [32]:
data= response.json()

In [33]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [12]:
instruments = data['instruments']

In [16]:
len(instruments) # We have 123 tradable pairs

123

In [19]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [21]:
instrument_data= []
for item in instruments:
    new_ob= dict(
        name= item['name'],
        type= item['type'],
        displayName = item['displayName'],
        pipLocation=item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [24]:
for item in instrument_data[:3]:
    print(item)

{'name': 'USD_SGD', 'type': 'CURRENCY', 'displayName': 'USD/SGD', 'pipLocation': -4, 'marginRate': '0.115'}
{'name': 'EUR_SEK', 'type': 'CURRENCY', 'displayName': 'EUR/SEK', 'pipLocation': -4, 'marginRate': '0.06'}
{'name': 'HKD_JPY', 'type': 'CURRENCY', 'displayName': 'HKD/JPY', 'pipLocation': -4, 'marginRate': '0.13'}

In [37]:
# Convert to dataframe
instrument_df = pd.DataFrame.from_dict(instrument_data)
instrument_df

           name      type   displayName  pipLocation marginRate
0       USD_SGD  CURRENCY       USD/SGD           -4      0.115
1       EUR_SEK  CURRENCY       EUR/SEK           -4       0.06
2       HKD_JPY  CURRENCY       HKD/JPY           -4       0.13
3       AUD_USD  CURRENCY       AUD/USD           -4      0.045
4       USD_CAD  CURRENCY       USD/CAD           -4       0.02
..          ...       ...           ...          ...        ...
118     EUR_CZK  CURRENCY       EUR/CZK           -4       0.28
119     NZD_JPY  CURRENCY       NZD/JPY           -2       0.06
120  USB05Y_USD       CFD  US 5Y T-Note           -2      0.031
121  USB30Y_USD       CFD     US T-Bond           -2      0.059
122     XAG_USD     METAL        Silver           -4      0.215

[123 rows x 5 columns]

In [38]:
instrument_df.to_pickle('instrument.pkl') # binary zip format provided by pandas, a lot smaller than csv, excel

In [39]:
instrument_df.type.value_counts()

type
CURRENCY    68
CFD         34
METAL       21
Name: count, dtype: int64