In [13]:
import pandas as pd
import plotly.graph_objects as go

In [14]:
ma_test_res = pd.read_pickle("ma_test_res.pkl")
all_trades = pd.read_pickle("all_trades.pkl")

In [15]:
all_trades.shape

(82294, 11)

In [16]:
ma_test_res.shape

(630, 8)

In [17]:
ma_test_res.head()

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,mashort,malong
0,GBP_USD,685,53.2,0.077664,-113.8,199.6,4,8
1,GBP_USD,400,-1263.8,-3.159500,-123.9,239.2,4,16
2,GBP_USD,371,-829.2,-2.235040,-127.2,261.2,8,16
3,GBP_USD,241,124.4,0.516183,-83.0,314.2,4,32
4,GBP_USD,185,430.8,2.328649,-108.7,316.6,8,32

In [18]:
ma_test_res = ma_test_res[['pair', 'num_trades', 'total_gain','mashort', 'malong']]

In [19]:
ma_test_res["CROSS"] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str)

In [20]:
df_all_gains = ma_test_res.groupby(by=["CROSS","mashort", "malong"], as_index=False).sum()

In [21]:
df_all_gains.sort_values(by="total_gain", ascending=False, inplace=True)

In [22]:
df_all_gains.head()

,CROSS,mashort,malong,pair,num_trades,total_gain
2,MA_16_32,16,32,GBP_USDGBP_CADGBP_JPYGBP_NZDGBP_CHFEUR_GBPEUR_...,3448,4523.1
25,MA_8_16,8,16,GBP_USDGBP_CADGBP_JPYGBP_NZDGBP_CHFEUR_GBPEUR_...,7219,2326.2
17,MA_4_32,4,32,GBP_USDGBP_CADGBP_JPYGBP_NZDGBP_CHFEUR_GBPEUR_...,5066,1898.1
27,MA_8_32,8,32,GBP_USDGBP_CADGBP_JPYGBP_NZDGBP_CHFEUR_GBPEUR_...,3984,1759.8
15,MA_4_16,4,16,GBP_USDGBP_CADGBP_JPYGBP_NZDGBP_CHFEUR_GBPEUR_...,8251,1400.2

In [23]:
ma_16_32 = ma_test_res[ma_test_res.CROSS=='MA_16_32'].copy()

In [25]:
ma_16_32.sort_values(by="total_gain", ascending=False, inplace=True)

In [26]:
ma_16_32.head()

        pair  num_trades  total_gain  mashort  malong     CROSS
65   GBP_JPY         155      1716.9       16      32  MA_16_32
95   GBP_NZD         176      1467.1       16      32  MA_16_32
545  NZD_JPY         155      1318.2       16      32  MA_16_32
275  EUR_NZD         175      1114.1       16      32  MA_16_32
455  CAD_CHF         165       716.7       16      32  MA_16_32

In [27]:
total_p = len(ma_16_32.pair.unique())

In [29]:
ma_16_32[ma_16_32.total_gain>0].shape[0]

11

In [30]:
ma_16_32[ma_16_32.total_gain>0].shape[0]/total_p

0.5238095238095238

In [32]:
for cross in df_all_gains.CROSS.unique():
    df_temp = ma_test_res[ma_test_res.CROSS==cross]
    total_p = df_temp.shape[0]
    n_good = df_temp[df_temp.total_gain>0].shape[0]
    print(f"{cross:12} {n_good:4} {(n_good/total_p)*100:4.1f}%")

MA_16_32       11 52.4%
MA_8_16        11 52.4%
MA_4_32        12 57.1%
MA_8_32        11 52.4%
MA_4_16        10 47.6%
MA_24_32        9 42.9%
MA_64_256      10 47.6%
MA_8_256        8 38.1%
MA_8_64         8 38.1%
MA_4_8          6 28.6%
MA_4_256        7 33.3%
MA_16_256       8 38.1%
MA_4_64         6 28.6%
MA_32_256       8 38.1%
MA_24_256       5 23.8%
MA_16_64        5 23.8%
MA_8_96         5 23.8%
MA_4_128        3 14.3%
MA_4_96         5 23.8%
MA_16_96        4 19.0%
MA_8_128        4 19.0%
MA_24_64        5 23.8%
MA_64_128       3 14.3%
MA_64_96        4 19.0%
MA_16_128       4 19.0%
MA_24_96        3 14.3%
MA_32_64        4 19.0%
MA_24_128       2  9.5%
MA_32_96        3 14.3%
MA_32_128       3 14.3%